apiVersion: v1
kind: Service
metadata:
  name: {{ include "iceberg_catalog_rest_rdbms_server.fullname" . }}
  labels:
    {{- include "iceberg_catalog_rest_rdbms_server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.externalPort }}
      targetPort: {{ .Values.service.internalPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "iceberg_catalog_rest_rdbms_server.selectorLabels" . | nindent 4 }}
