name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run iceberg-rust-spec tests
      run: make test-iceberg-rust-spec
    - name: Run iceberg-rust tests
      run: make test-iceberg-rust
    - name: Run datafusion-iceberg tests
      run: make test-datafusion_iceberg

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Clippy
      run: rustup component add clippy
    - name: Run Clippy
      run: make clippy
