name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "df*" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Free disk space
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: false
        docker-images: false
        swap-storage: false
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build
    - name: Run iceberg-rust-spec tests
      run: make test-iceberg-rust-spec
    - name: Run iceberg-rust tests
      run: make test-iceberg-rust
    - name: Run datafusion-iceberg tests
      run: make test-datafusion_iceberg
    - name: Run iceberg-rest-catalog tests
      run: make test-rest-catalog
    - name: Run iceberg-file-catalog tests
      run: make test-file-catalog
    - name: Run iceberg-sql-catalog tests
      run: make test-sql-catalog

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Install Clippy
      run: rustup component add clippy
    - name: Run Clippy
      run: make clippy
    - name: Install Format
      run: rustup component add rustfmt
    - name: Run fmt
      run: make fmt
